/* ベース設定 */
body{
    background-color: #122;
    color:#ebeeed;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-weight:500;
}

/* 全体レイアウト */
#wrap {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    background-color: #233;
    color:#ebeeed;
}

/* サイトタイトル */
#site_title{
    display:block;
    padding: 10px 0px;
    font-size: 2em;
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    font-weight: bolder;
    background-color: #122;
}

/* トップイメージ */
#top_img{
    clear: both;
    display:block;
    height:562.5px;
    width:1000px;
    background-image: url(../img/1482202-1.png);
    background-size: cover;
}
.twitter-tweet{
    margin-right: 5px;
}

/* ヘッダー */
header {
    position: relative;
    z-index: 9999;
    text-align: center;
    font-size:1.1em;
}

header.fixed{
    width:1000px;
    top:0;
	position: fixed;
}

header #nav {
    text-align: left;
    background: #3D5656;
}

header #nav ul li {
    display: inline-block;
    position: relative;
}

header #nav ul li a {
    padding: 15px 20px;
    display: inline-block;
}

header.fixed #nav ul li a {
    padding: 8px 20px;
    display: inline-block;
}

header #nav ul li a:hover {
    background: #6D8F90;
}

/* フッター */
footer{
    clear: both;
    padding: 10px 0;
    text-align: center;
    font-size:0.9em;
    background-color: #122;
}

/* 左メニュー */
.left_menu{
    display: block;
    position:relative;
    float:left;
    width: 25%;
    font-size: 1.1em;
}

.left_menu a.title {
    width: 100%;
    padding: 15px 10px 10px 10px;
    display: inline-block;
    border-top: solid 2px #122;
    border-bottom: solid 2px #122;
    background:linear-gradient(transparent 90%, #588 90%);
}

.left_menu a:hover.title {
    background:linear-gradient(transparent 90%, #0C8 90%);
    background-color: #344;
}

.left_menu ul li a {
    width: 100%;
    padding: 10px 10px 10px 20px;
    display: inline-block;
    border-bottom: solid 2px #122;
}

.left_menu ul li a:hover {
    background:linear-gradient(transparent 90%, #0C8 90%);
    background-color: #344;
}


/* 右コンテンツ */
.right_contents{
    display: block;
    position:relative;
    float:right;
    width: 75%;
    padding: 1em;
    border-left: solid 10px #122;/*左線*/
}
/* 右コンテンツのページ内リンク先 */
.target {
    position: relative;
    top: -100px;
}

/* コンテンツ */
.contents{
    clear: both;
    display: block;
    padding: 1em;
}

/* 見出し */
h1{
    font-size: 2.5em;
    display: block;
    padding-bottom: 0.5em;/*上下の余白*/
    border-bottom: solid 3px #0C8;/*下線*/
    margin: 1em 0;/*上下の余白*/
}

h2{
    font-size: 2em;
    display: block;
    padding-left: 0.5em;/*左の余白*/
    border-left: solid 3px #0C8;/*上線*/
    margin: 1em 0;/*上下の余白*/
}

h3{
    font-size: 1.5em;
    display: block;
    padding-left: 0.5em;/*左の余白*/
    border-left: solid 3px #0C8;/*上線*/
    margin: 2em 0 1em 0;/*上下の余白*/
}

h4{
    font-size: 1.3em;
    display: block;
    padding-left: 0.5em;/*左の余白*/
    border-left: solid 3px #0C8;/*上線*/
    margin: 1em 0;/*上下の余白*/
}

/* 段落 */
p{
    font-size: 1.1em;
    display: block;
    line-height: 1.5em;
    padding-bottom: 20px; 
}

/* 段落リンク */
p a{
    padding: 0 2px;
    color:#0C8;
    font-weight: 600;
}
p a:hover{
    text-decoration-line: underline;
    background-color: #344;
}

/* 段落強調 */
p strong{
    background:linear-gradient(transparent 70%, #885 70%);
    font-weight: 600;
}

/* 段落イタリック */
p em{
    background:linear-gradient(transparent 70%, #085 70%);
}

/* 背景黒強調 */
p .black_em{
    padding:1px;
    background-color: #122;
}
div.black_em{
    padding:5px;
    background-color: #122;
}